ul.z-search-item-list > li.not-available {
	display: none;
}

#unicNumber, #supplierBillID, #vehicleRegPoint,
#personFamily, #driveLicenseNumber,
#Vin, #PTS, #Reg_zn, #D_name, #H_name,
#vin, #dpts, #departmentDecidedCodeShortName,
#execDepartmentCodeShortName, #osnOgr, #Kuz {
	background: #87ceeb;
	cursor: pointer;
}

ol.fismtools-menu li { 
	list-style-type: none;
}

ol.fismtools-menu { 
	counter-reset: li;
    position: absolute;
    z-index: 999;
    top: 30;
    left: 20;
    padding: 2px 10px 2px 23px;
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

/* с какого числа будем нумеровать */
ol.fismtools-menu li:before {
    counter-increment: list; /* Увеличиваем значение счетчика */
    /*content: counter(list) ". "; /* Выводим число */
}

ol.fismtools-menu a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;	
}
 
ol.fismtools-menu a:hover {
    background: #eee;
}
 
ol.fismtools-menu a:hover:before {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);	
}
 
ol.fismtools-menu a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;	
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

#koapText {
    background: #87ceeb;
    cursor: pointer;
}

#formPostUpload {
    padding: 5px 0 10px;
}

#fileForUploadPost {
    width: 80%;
    text-align: left;
}

#submitPostUpload {
    width: 20%;
}

#sud-file-form {
    background: #87ceeb;
}

.top-wrapper {
		background: #2478b6;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2478b6), color-stop(100%, #015b9e));
}
